@import "../../global.scss";



.project2_inside{
  align-self: flex-end;
  height: 100%;
  width: inherit;
transition: all 1s ease-in-out;
// visibility: hidden;
background-color: rgba(0, 0, 0, 0.808);
opacity: 0;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
color: whitesmoke;
font-size: 30px;
@include mobile {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-size: 8px;
}

 
}
.project2_inside:hover{
  visibility: visible;
  cursor: pointer;
  opacity: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  // color: rgb(0, 0, 0);
 
  margin-bottom: 20px;


  // background-color: black;
.project1_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
 

@include mobile {
 
  width: 90%;
  background-size: cover;
  font-size: 8px;
}


}
.project1{
  border: 1px solid white;
  border-radius: 10px;

  width: 70vw;
  align-self: flex-start;

background-image: url('../../Assets//images/React-App\ \(1\).png');
background-size: cover;
object-fit: cover;
@include mobile {
background-image: url('../../Assets//images/React-App\ \(1\).png');

  height: 200px;
  width: 100%;
  background-size: cover;
}
} 
.project2{
  border-radius: 10px;
display: flex;
height: 400px;
  
  width: 70vw;
  background-size: cover;
  align-self: flex-end;
  flex-direction: column;
  border: 1px solid white;


  background-image: url('../../Assets/images/https-next-jsportfolio-netlify-app.png');
  @include mobile {
    height: 200px;
    width: 90%;
    background-size: cover;
    font-size: 82px;
    align-self:center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 
  h1 {
   
    font-size: 50px;
    border-bottom: 1px solid black;
    margin-bottom:20px;
    cursor: pointer;
    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }


    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      // color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        @include mobile {
              display: flex;
    align-items: center;
    justify-content: center;
        }
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
  p {
    color: rgb(248, 248, 248);
    @include mobile {
      font-size: 10px;
    }
  }
}
