@import "../../global.scss";

.contact {
  display: flex;
  height: 80vh;
width: 100%;
margin-top: 40px;
  
  justify-content: center;
  @include mobile {
justify-content: center;
display: flex;
align-self: center;
height: 60vh;
width: 100%;

  }
  .phone{
    margin-top: 20px;
    width: fit-content;
    font-size: 11px;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    a{
      color: white;
    }
    @include mobile {
      margin-top: 20px;
      width: fit-content;
      font-size: 11px;
      display: flex;
      justify-content: center;
      width: 50%;
      align-items: center;
      justify-content: space-around;
    }
  }

  .right {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 border: 1px solid rgb(248, 248, 248);
 height: 90%;
 width: 30%;
cursor: pointer;
@include mobile {
  width: 80%;
}

    form {
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
@include mobile {
  width: 80%;
}
      input {
        height: 30px;
        width: inherit;
        @include mobile {
        }
      }

      textarea {
    width: inherit;
        height: 200px;
        @include mobile {
        }
      }

      button {
        width:inherit;
        height: 30px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: none;
        font-weight: 500;
        cursor: pointer;
        transition: all 1s ease;
    

        &:focus {
          outline: none;
        }
      }

span{
  color: green;
}  
    }
  }
  p{
    color: red;
  }
}




.right-dark {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
border: 1px solid rgb(248, 248, 248);
background-color: rgb(0, 0, 0);
color: white;
height: 90%;
width: 30%;
cursor: pointer;
@include mobile {
width: 80%;
}

  h2 {
    font-size: 30px;
  }

  form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
@include mobile {
width: 80%;
}
    input {
      height: 30px;
      width: inherit;
      @include mobile {
      }
    }

    textarea {
  width: inherit;
      height: 200px;
      @include mobile {
      }
    }

    button {
      width:inherit;
      height: 30px;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 253, 253);
      border: none;
      font-weight: 500;
      cursor: pointer;
      transition: all 1s ease;
  

      &:focus {
        outline: none;
      }
    }

span{
color: green;
}  
  }
}