@import "../../global.scss";

.contact {
  display: flex;
  background-color: whitesmoke;
  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    background-color: rgb(10, 212, 185);
    background-image: url("./handsome-business-african-american-man-pointing-side-png.png");
    background-size: cover;
    border-radius: 20%;
    transition: all 2s ease;
    &:hover {
      background-color: rgba(12, 12, 184, 0.788);
    }

    img {
      height: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: rgb(157, 20, 220);
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        transition: all 1s ease;
        &:hover {
          background-color: black;
          color: whitesmoke;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
