@import "../../global.scss";

.topbar {
  height: 70px;
  // border-bottom: 1px solid rgb(225, 225, 225);
  // z-index: 3;
  cursor: pointer;
  transition: all 1s ease;
  top: 0;
  position: sticky;
  display: flex;

  position: -webkit-sticky;
  justify-content: space-between;
  top: 0; /* required */
  @include mobile {
    margin: 10px;
    top: 0;
    position: sticky;
  }
  .wrapper {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    width: 100%;
    .nav {
      height: 100%;
      align-items: center;
      ul {
        justify-content: space-around;
      height: 100%;
  align-items: center;

}

    }
    .nav-dark {
      height: 100%;
      justify-content: center;
      align-items: center;
      ul {
      height: 100%;
      justify-content: space-around;
  
  align-items: center;

}

    }
  .nav ul li a {
    color: black;

  }
  .nav-dark ul li a {
    color: rgb(238, 238, 238);

  }
  button{
    background-color:none;
  }

    ul {
      width: 40vw;
      display: flex;
      justify-content: space-between;
      
      @include mobile {
        display: none;
      }
    }
    a {
      text-decoration: none;
      
    }
  
    .left {
      display: flex;
      align-items: center;
    margin-left: 20px;
      height: 100%;
flex: 1;
      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile {
          display: none;
          
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          display: none;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right {
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      // flex-direction: row-reverse;

      .navs {
        display: flex;
justify-content: center;
align-items: center;      }
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        opacity: 0;
        @include mobile {
          opacity: 1;
          margin-left: 40px;
        }
        // opacity: 0;
        .line {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
          margin-right: 30px;

        }
        .line-dark{
          width: 100%;
          height: 3px;
          background-color: white;
          transform-origin: left;
          transition: all 2s ease;
          margin-right: 30px;

        }
      }
    }
  }

  .icons{

font-size: 10px;
  }

  .icons-dark{
 

font-size: 10px;
  
  }

  &.active {
    top: 0;
    position: sticky;
    // background-color: $mainColor;
    opacity: 0.9;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: rgb(230, 230, 230);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: rgb(87, 75, 75);
          transform: rotate(-45deg);
        }
      }
    }
  }
}

