@import "../../global.scss";


.card-container, .front {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
    transition: all 1s ease;
    font-size: small;


}


 .back{
	overflow: hidden;
    width: 30rem;
	height: 30rem;
	

}
.card-container {
	overflow: hidden;
	margin: 5rem;
    transition: all 1s ease;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-content: center;
	width: 100vw;
	@include mobile{
		flex-direction: column;
	padding: 0;
	margin: 0;
		justify-content: center;
	 }


}
.front, .back {
	overflow: hidden;
	box-sizing: border-box;
    overflow: hidden;
	padding: 2rem;
	border-radius: 4px;
	font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 22px;

	text-transform: uppercase;

    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	@include mobile{
		background-size: cover;
		margin: 0;
		padding: 1;
		text-align: center;
		font-size: 16px;
		
	 }
}

/* back side bg is orange gradient */ .back {
	background-image:url('../../Assets/images/IMG_9086.jpg');
	background-size: cover;

	@include mobile {

		margin:0;
		padding: 0;
		background-size: cover;
		width: 80%;
		align-self: center;
	}


}

.card-container {
	position: relative;
    overflow: hidden;
	

}
.front, .back {
	backface-visibility: hidden;
	overflow: hidden;
	@include mobile {
		font-size: 14px;
		height: 80%;
	}
	
	

    overflow: hidden;
	#button{
		background-color: rgb(255, 255, 255);
		align-self: center;
		margin: 0 20px;
		color: black;
		padding: 10;
		@include mobile {
	
		}
	  }
	  
}
// .back {
// 	transform: rotateY(180deg);
// }
// .card-container:hover .front {
// 	transform: rotateY(-180deg);
// }
// .card-container:hover .back {
// 	transform: rotateY(0deg);
// }

.card-container {
	perspective: 75rem;
	

}
.container{
	overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin-top: 30px;
	margin-bottom: 20px;
	span{
		color: red;
	}
}